.bookCategory{
  margin-top: 50px;
  font-size: 2em;
  font-family: $Lobster;
}
.booksOwnedLimited{
  height: 400px;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: none;
  white-space: nowrap;
  margin-top: 50px;
  padding: 30px 0 0;
}

.learnMore{
  display: block;
  min-width: 350px;
  white-space: normal;
  word-wrap:break-word;
  align-self: center;
  margin: 0 auto;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;


}

.showMore{
  min-width: 250px;
  max-width: 250px;
  background-color: $faded_red;
  font-size: 1.5em;
  border: none;
}

.booksOwned{
  display: block;
  width: 350px;
  min-width: 350px;
  white-space: normal;
  word-wrap:break-word;

  h1{
    font-weight: bold;
  }

  h1, h2{
    line-height: 1.5em;
    width: 250px;
    margin: 0 auto;
  }

  img{
    width: 150px;
    height: 200px;
  }
}

.booksContainer{
  display: flex;
  flex-wrap: wrap;
}

.booksContainer::after{
  content: "";
  flex: auto;
}

.categoryTitle{
  font-size: 2em;
}

.allBooks{
  padding: 30px 0;
  margin: 0 auto;
}

.individualBook{
  display: flex;
}

.oneBook{
  padding: 50px;
  min-width: 400px;
  width: 50%;
  height: 1200px;
  text-align: left;


  h1{
    font-size: 1.2em;
    line-height: 2em;
  }

  p{
    font-size: 1.2em;
    width: 80%;
    min-width: 400px;
  }
  p span, h1 span{
    font-weight: bold;
    font-size: 1.1em;
  }
}

.individualBookImage{
  display: block;
  height: 350px;
  width: 250px;
  margin: 0 auto;
}

.bookDescription{
  min-width: 400px;
  width: 100%;
  height: 400px;
  overflow-y: auto;
}

.bookReviews{
  width: 50%;
}

.addButton{
  width: 25%;
  height: 75px;
  font-size: 1.2em;
  margin: 15px 0;
}

.addCategories{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.removebtn{
  width: 25%;
  height: 75px;
  background-color: $faded_red;
  border-color: $faded_red;
}

.bookFunctionality{
  width: 50%;
}

.bookReviewForm{
  width: 90%;
  margin: 0 auto;
}

.reviewTitle{
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
  font-weight: bold;
}

.bookReactRating{
  display: flex;
  min-width:200px;
  flex-direction: column;
  align-items: flex-start;
}

.bookReactRatingReview{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.13em;
}

.noReviews{
  height: 100px;
  padding-top: 40px;
  font-weight: bold;
  font-size: 1.3em;
}

.writtenReview{
  margin-top: 50px;
  text-align: left;
  display: flex;
}

.reviewContent{
  font-size: 1.3em;
  line-height: 1.5em;
  width: 75%;
  min-width: 400px;
}

.editReviewIcon{
  height: 20px;
  width: 20px;
}

.editAndDelete{
  text-align: left;
  display: flex;
}

.editing, .deleting{
  margin: 0 5px;
}



// @media(max-width: $media1200){
//   .individualBook{
//     flex-direction: column;
//     border: 1px solid blue;
//     width: 100%;
//     height: 1400px;
//   }
//   .addCategories{
//     display: flex;
//     flex-direction: column;
//   }
//
//   .addButton{
//     width: 90%;
//     margin: 10px auto;
//   }
// }

@media(max-width: $media1200){
  .individualBook{
    flex-direction: column;
    height: 1400px;
    width: 100%;
    min-height: 1900px;
    overflow: auto;
  }

  .addCategories{
    display: flex;
    flex-direction: column;
  }

  .addButton{
    width: 90%;
    margin: 10px auto;
  }

  .oneBook{
    width: 90%;
    min-height: 1300px;
    margin: 50px auto;
    padding: 0;
  }

  .bookFunctionality{
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    height: 40%;
    max-height: 1500px;
    overflow: auto;
  }

  // .reviewContent{
  //   border: 1px solid blue;
  //   height: 500px;
  //   overflow: auto;
  // }
}

.bookError{
  text-align: center;
  color: $faded_red;
  font-size: 1.3em;
}

@media(max-width: $bootstrapMD){
  .writtenReview{
    margin: 0 auto;
  }
}

@media(max-width: $sMobile){
  .individualBook{
    margin-left: 5px;
    h1{
      width: 90%;
    }

  }
  .addCategories{
    margin-top: 40px;
    .btn{
      width: 70%;
    }
  }

  .writtenReview{
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
  }
}
