.bookCategory{
  margin-top: 50px;
  font-size: 2em;
  font-family: $Lobster;
}
.booksOwnedLimited{
  height: 400px;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: none;
  white-space: nowrap;
  margin-top: 50px;
  padding: 30px 0 0;
}

.learnMore{
  display: block;
  min-width: 350px;
  white-space: normal;
  word-wrap:break-word;
  align-self: center;

  .showMore{
    min-width: 250px;
    max-width: 250px;
    background-color: $faded_red;
    font-size: 1.5em;
    border: none;
  }
}

.booksOwned{
  display: block;
  width: 350px;
  min-width: 350px;
  white-space: normal;
  word-wrap:break-word;

  h1{
    font-weight: bold;
  }

  h1, h2{
    line-height: 1.5em;
    width: 250px;
    margin: 0 auto;
  }

  img{
    width: 150px;
    height: 200px;
  }
}

.booksContainer{
  display: flex;
  flex-wrap: wrap;
}

.booksContainer::after{
  content: "";
  flex: auto;
}

.categoryTitle{
  font-size: 2em;
}

.allBooks{
  padding: 30px 0;
  margin: 0 auto;
}

.individualBook{
  display: flex;
}

.oneBook{
  padding: 50px;
  min-width: 400px;
  width: 50%;
  height: 80vh;
  min-height: 1000px;
  text-align: left;


  h1{
    font-size: 1.4em;
    line-height: 2em;
  }

  p{
    font-size: 1.2em;
    width: 80%;
    min-width: 400px;
  }
  p span, h1 span{
    font-weight: bold;
    font-size: 1.1em;
  }
}

.individualBookImage{
  display: block;
  height: 350px;
  width: 250px;
  margin: 0 auto;
}

.bookDescription{
  min-width: 400px;
  height: 400px;
  overflow-y: auto;
}
