.footerContainer{
  background-color: $mint-cream;
  min-height: 500px;
  height: 40vh;
  display: flex;
  justify-content: space-around;
}

.footerLogo{
  width: 300px;
  height: 75px;
}

.companySection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4{
    font-size: 1.3em;
    padding: 10px 0 0 0;
  }
}

.creatorSection{
  display: flex;
  flex-direction: column;
  justify-content: center;

  a{
    color: $dark_gunmetal;

    line-height: 1.5em;
  }

  h3{
    font-size: 1.4em;
    font-weight: bold;
  }
  h4{
    font-size: 1.4em;
    padding: 10px 0 0 0;
  }
}

.emailMessage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;

  .emailLabel, .textLabel{
    font-size: 1.3em;
    padding: 10px 0 10px 0;
  }

  h4{
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px 0;
  }

  .btn{
    width: 300px;
    font-size: 1.2em;
    padding: 10px 5px;
  }
}

@media(max-width: $bootstrapMD){
  .footerContainer{
    flex-direction: column;
    align-items: center;
    min-height: 800px;
  }

  .emailMessage{
    width: 80%;
  }
}
