.singleBookContainer{
  display: flex;
}

.singleBookInfo{
  margin-left: 15px;
}

.singleBookContainer div h1 span, .singleBookDescription h1 span {
  font-weight: bold;
  line-height: 1.5em;
}

.reviewForm{
  margin-top: 30px;
}

.reviewForm h1{
  text-align: center;
  font-weight: bold;
}

.reviewForm h2{
  line-height: 1.5em;
  font-weight: bold;
  margin-left: 5px;
}
