$mint-cream: #F4FFF8;
$french-sky-blue: #65AFFF;
$cobalt_blue: #0741AD;
$dark_gunmetal: #1D282D;
$teal_green: #40A798;
$faded_red: #D56062;

$mediaTabletWidth: 1000px;
$mediaSmallDesktopWidth: 1500px;
$bootstrapMD: 768px;

$Lobster: 'Lobster', cursive;
$Liberata: 'Literata', serif;
$Courgette: 'Courgette', cursive;
